* {
  margin: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 9999;
  background-color: transparent;
}

#microphone {
  padding: 20%;
  font-family: "Major Mono Display", monospace;
  color: transparent;
  user-select: none;
  transition: all 1s;
  position: absolute;
  top: 0vh;
}

#keyboard {
  padding: 20%;
  font-family: "Major Mono Display", monospace;
  color: transparent;
  user-select: none;
  transition: all 1s;
  position: absolute;
  top: 0vh;
}

#y {
  color: transparent;
}

#text {
  color: transparent;
  align-self: center;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}
